.menu-bar {
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.menu-item,
.menu-item-danger {
    padding-top: 9px !important;
    background-color: white;
    transition: all .3s;
}
.menu-item:hover {
    background-color: gainsboro;
}
.menu-item-danger:hover {
    background-color: rgb(231, 25, 25);
}
.menu-item-danger:hover svg {
    color: white !important;
}
.facilities {
    transition: all .3s;
}
.facilities:hover {
    background-color: #007bff !important;
    cursor: pointer;
}
.facilities-primary {
    background-color: #007bff !important;
    transition: all .3s;
    color: white;
}
.facilities-default {
    background-color: rgb(241, 241, 241) !important;
    transition: all .3s;
    color: black;
}